.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 200px;
  height: 100vh;
  border: 1px solid red;
  position: relative;
  background-color: #242424;
  color: #727272;
  padding-left: 20px;
}

.logo {
  height: 100px;
}

.sat {
  filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(338deg) brightness(103%) contrast(106%);
}

.lastdiv {
  position: absolute;
  bottom: 40px;
}
.secondiv div{
height: 40px;
}